.cep-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  
}

.text-primaryyy{
  font-size: 38px;
  color: #262626;

}

.cep-search-container h1 {
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 30px 40px;
  background-color: #E6F7FF;
  border-radius: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.search-input {
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 16px;
  text-align:start;
  height: 40px;
  width: 240px;
  margin-bottom: 25px;
  padding-left: 10px;
 
}

.search-input::placeholder {
  color: #d3cccc;
}

.search-button {
  height: 40px;
  width: 160px;
  margin-bottom: 35px;
  color: #fff;

  
}

.cardembaixo{
margin-top: 30px;
}


@media (min-width: 576px) {
    .search-input {
        width: 480px;
    }
}
